@{
    ViewData["Title"] = "About";
}


<div id="fullpage" class="fullpage-default">
    <div class="section animated-row" data-section="slide02">
        <div class="section-inner">
            <div class="about-section">
                <div class="row justify-content-center">
                    <div class="col-lg-8 wide-col-laptop">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="about-contentbox">
                                    <div class="animate" data-animate="fadeInUp">
                                        <span>About Me</span>
                                        <h2>Who am i?</h2>
                                        <p>
                                            I am ambitious, creative and self-learning person who aims to be
                                            able to find an exciting and challenging entry level position in tech
                                            company. I am driven individual who can go through any challenges
                                            without being afraid. I am artist and add colors to my work and
                                            make it creative.
                                        </p>
                                    </div>
                                    <div class="facts-list owl-carousel">
                                        <div class="item animate" data-animate="fadeInUp">
                                            <div class="counter-box">
                                                <i class="fa fa-trophy counter-icon" aria-hidden="true"></i><span class="count-number">32</span> Awards Won
                                            </div>
                                        </div>
                                        <div class="item animate" data-animate="fadeInUp">
                                            <div class="counter-box">
                                                <i class="fa fa-graduation-cap counter-icon" aria-hidden="true"></i><span class="count-number">4</span> Degrees
                                            </div>
                                        </div>
                                        <div class="item animate" data-animate="fadeInUp">
                                            <div class="counter-box">
                                                <i class="fa fa-desktop counter-icon" aria-hidden="true"></i><span class="count-number">92</span> Photography
                                            </div>
                                        </div>
                                        <div class="item animate" data-animate="fadeInUp">
                                            <div class="counter-box">
                                                <i class="fa fa-support counter-icon" aria-hidden="true"></i><span class="count-number">16</span> Paintings
                                            </div>
                                        </div>
                                        <div class="item animate" data-animate="fadeInUp">
                                            <div class="counter-box">
                                                <i class="fa fa-certificate counter-icon" aria-hidden="true"></i><span class="count-number">10</span> Certificates
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <figure class="about-img animate" data-animate="fadeInUp"><img src="~/images/me2.jpg" class="rounded" alt=""></figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
